<%- include("partials/header.ejs") %>
<div class="about-content">
<h2 class="aboutH"><b>About Us</b></h2>
<h3 class="aboutH2">Welcome to Our To-Do List Site</h3>
<p>At To Do, we understand the importance of staying organized and productive in today's fast-paced world. That's why we've created this user-friendly platform to help you manage your tasks efficiently and effectively.</p>
<h3 class="aboutH2">
Our Mission</h3>

<p>Our mission is simple: to provide you with the tools you need to conquer your to-do list and achieve your goals. Whether you're a busy professional, a student juggling multiple assignments, or a busy parent trying to balance work and family life, our platform is designed to streamline your task management process and bring more clarity and focus to your day.</p>

<h3 class="aboutH2">Key Features</h3>

<p>Intuitive Interface: Our user-friendly interface makes it easy to create, organize, and prioritize tasks with just a few clicks. Customizable Categories: Tailor your to-do list to fit your unique needs by creating custom categories and subcategories for different types of tasks. Deadline Reminders: Never miss a deadline again with our built-in reminder system, which alerts you when tasks are due. Collaboration Tools: Share tasks and collaborate with colleagues, friends, or family members to stay on track together. Cross-Platform Syncing: Access your to-do list anytime, anywhere, on any device, thanks to seamless syncing across desktop, mobile, and tablet.</p>

<h3 class="aboutH2">Our Commitment to You</h3>

<p>At [Your Site Name], we're committed to providing you with an exceptional user experience. We're constantly updating and improving our platform based on user feedback and the latest advancements in technology, so you can trust that you're always getting the best possible tools to help you stay organized and productive.</p>

<h3 class="aboutH2">Get Started Today</h3>

<p>Ready to take control of your to-do list and start achieving your goals? Sign up for a free account today and experience the difference that [Your Site Name] can make in your life.</p>
</div>



<%- include("partials/footer.ejs") %>