
<%- include("partials/header.ejs") %>

<div>
   <h1 class="start1">Let's organize Today's work</h1>
    <div id="calendar">
        <div id="calendar-date">
            <button id="day1" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">1</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day2" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day3" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day4" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day5" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day6" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day7" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day8" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day9" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day10" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day11" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day12" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day13" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day14" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day15" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="day16" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>

            <button id="day18" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="date-2022-01-30" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="date-2022-01-30" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
            <button id="date-2022-01-30" class="date-wrapper" disabled="">
                <div class="date">
                    <div class="date-day">
                        <h2 class="date-day-of-month">30</h2>
                        <h2 class="date-day-of-week">Mon</h2>
                    </div>
                </div>
            </button>
        </div>



    </div>

</div>




<%- include("partials/footer.ejs") %>