:root {
    --btn-height: 65vh;
    --btn-width: calc(var(--card-height) / 1.5);
  }
html,
body {
  min-height: 100vh;
  background-color: #F0F3FF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

footer {
    margin-top: auto;
  }
h2,h3{
    text-align: center;
}  
p{
    padding: 0px 15px;
    font-family: sans-serif;
}
.about-content{
    margin-bottom: 75px;
}
.aboutH{
    color: #836FFF;
    font-size: 3rem;
    font-family: sans-serif;
    
}
.aboutH2{
    color: #836FFF;
}
form{
    margin-top: 50px;
    padding: 0 65px;
}
.feedback-input {
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #836FFF;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    
  }
  
  .feedback-input:focus {
    border: 2px solid #15b9f5;
  }
textarea{
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
[type="submit"] {
    width: 100%;
    background: #836FFF;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
  }
  [type="submit"]:hover {
    background: #15b9f5;
  }
  .item{
    size:25%;
  }
  .start1{
    text-align: center;
    font-size: 3.25rem;
    color: #836FFF;
  }
.btn{
    height:100%;
    width: 100%;
    background-color:#BBE2EC ;
    border-radius: 10px;
}
.box {
    /* background: url("../images/whisper-img.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    font-family: "Gloria Hallelujah", cursive;
  }
.box{
    height:100px;
    padding: 5px;
    border-radius: 25px;
}
.box:hover{
    opacity: 30%;
}
.btn::before{
    content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}
.btn::after{
    position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
  
@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}